<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>State</title>
</head>
<body>
    <h1>Create Meassage</h1>
    <form method="POST" action="">
        {% csrf_token %} 
        <table>
            <tr>
                <td>Enter Name:</td>
                <td><input type ="text" name="uname" placeholder="Enter Nmae"/></td>
                </tr><br>
                <tr>
                    <td>Capital:</td>
                    <td><input type="text" name="ucapital" placeholder="Enter Capital"/></td>
                    </tr>
                    <tr>
                        <td>Population:</td>
                        <td><input type="number" name="pop" placeholder="Enter population"/></td>
                        </tr>
                        <tr>
                            <td>Language:</td>
                            <td><input type="text" name="lang" placeholder="Enter Language"/></td>
                        </tr>
                        <tr>
                            <td><input type="submit" value="Send"></td>
                        </tr>
                        
                    </tr>
                    
                </tr>
     
                </td>
            </tr>
        </table>
    </form>
    
</body>
</html>